/*Resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
    display: flex;
    justify-content: center;
  }


  fieldset {
    background-image: url(../source/brushed_alu.webp);
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 25px 35px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  legend {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    color: #333;
  }

  img {
    display: flex;
    margin: auto;
    width : 80%;
    height: 30%;
    padding-bottom: 15px;
  }
  
  h1, h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
  }
  
  input, button, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  
  button {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #resultado, #precioVidrio, #seleccion  {
    margin-top: 15px;
    background-color: #fefefe;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    color: #222;
    font-size: 16px;
  }
  
 
  